body{
    background-color: wheat;
}
.container-fluid .row:nth-child(1){
    background-color: darkcyan;
    margin-bottom: 10px;
}
h1{
    line-height: 80px;
    /* width: 400px;
    margin: 0 auto; */
    margin: 0;
    text-align: center;
}

.container-fluid .row:nth-child(2) div{
    border-right: 1px solid black;
}
.container-fluid .row:nth-child(2) div:last-child{
    border: none;
}
.container-fluid .row:nth-child(3){
    margin-top: 10px;
    background-color: #222;
}
.footerText{
    padding: 8px 0;;
    font-size: 80%;
    color: white;
    text-align: center;
}