*{
    margin: 0;
    /* padding: 0; */
}
body{
    font-size: medium;
}
p{
    font-size: 125%;
}
#header{
    height: 120px;
    background-color: aqua;
    margin-bottom: 5px;
}
#main{
    height: 800px;
    background-color: brown;
    /* position: relative; */
    /* height: 960px; */
    /* background-image: linear-gradient(#cff 0%,#fcc 100%);*/
    /* padding: 25px 0; */
} 
#footer{
    margin-top: 5px;
    height: 80px;
    background-color: #223;
}
#nav{
    height: 800px;
    width: 200px;
    background-color: darkblue;
    float: left;
    margin-left: 10px;
}
#content{
    height: 800px;
    margin-left: 220px;
    margin-right: 10px;
    background-color: darkcyan;
}
#liv_che{
    width: 25%;
    /* position: absolute;
    left: 50%;
    top: 50%; */
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
h1{
    font-size: 200%;
    text-align: center;
}
#footer p{
    font-size: 70%;
    color: #fee;
    padding: 22px 0;
    text-align: center;
}
#nav p,#content p{
    color: #fee;
    font-size: 120%;
}
video{
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}